<!--показує список героїв, якщо клацнути по якомусь то переходить та hero-detail-->
<h2>My Heroes</h2>
<ul class="heroes">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>
</ul>


<!--було до routing-->
<!--<h2>My Heroes</h2>-->
<!--<ul class="heroes">-->
<!--<li *ngFor="let hero of heroes"    // *ngFor="let hero of heroes | async",  варіант якщо позначити heroes: Observable<Hero[]>; у heroes.component.ts і тоді можна юзати простий getHeroes()-->
<!--(click)="onSelect(hero)">-->
<!--<span class="badge">{{hero.id}}</span> {{hero.name}}-->
<!--</li>-->
<!--</ul>-->

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail> -->


